*{
  margin: 0;
  box-sizing: border-box;
}

p {
  color: white;
}

html{
  background-color: transparent;
  color: transparent;
}

p, h1, h2, h3{
  color: white;
}

.sidenav {
  visibility: hidden;  
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6vh;
  min-width: 320px;
}

.sidenav > ul > li{
  margin: 2vh 0;
}

.sidenav ul,
footer ul,
nav ul{
  list-style: none;
}

.sidenav a {
  padding: 0.5vh 10%;
  text-decoration: none;
  font-size: 2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  outline: none;
}

.sidenav a:hover,
.sidenav a:focus-within {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2.5rem;
}

.sidenav li:hover,
.sidenav li:focus-within {
  cursor: pointer;
}

.dropdown{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s;
}

li:focus-within a {
  outline: none;
}

.sidenav ul li:hover > ul,
.sidenav ul li:focus-within > ul,
.sidenav ul li ul:hover,
.sidenav ul li ul:focus {
  max-height: 400px;
  opacity: 1;
  display: block;
  transition: all 0.6s
}

.sidenav ul li ul li {
  clear: both;
  width: 100%;
}

.sidenav ul{
  width: 100%;
}

nav{
  z-index: 1;
  top:0;
  left:0;
  position: fixed;
  background-color: rgba(0, 0, 0, 80%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 5vh;
  height:fit-content;
  width: 100%;
}

nav a{
  height: 50px;
  padding: .8%;
  color: white;
  text-decoration: none;
  display: inline-block;
}

nav div{
  display: flex;
  height: fit-content;
  width: 150px;
  padding: .8%;
  color: white;
  text-decoration: none;
  justify-content: space-between;
  /* display: inline-block; */
  transform: translate(-5%);
}

nav a > img{
  width: 50px;
  border-radius: 100%;
}

nav a:nth-child(1){
  margin-left: 1.5%;
}

nav a:nth-child(2){
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

nav div a{
  margin-left: 20%;
  position: relative;
}

body{
  /* margin-top: 5.5vh; */
  background-color: #323443;
}

#hamburger {
  padding:0;
  margin-left: 2%;
  font-size:30px;
  cursor:pointer;
}

#hamburger img{
  border-radius: 0;
  filter: invert(1);
}

footer{
  background-color: #212331;
  display: flex;
  flex-flow: column nowrap;
  /* padding: 20px; */
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
}

.links {
  margin-top: 4vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  font-size: 3vh;
  padding: 0;
}

.links > li{
  margin-top: 3vh;
  padding: 0;
  width: 20%;
  min-width: 180px;
}

hr{
  width: 98%;
}

.links p,
.links a{
  color: white;
  text-decoration: none;
  text-align: center;
}

.links a{
  color: grey;
  transition: all 0.3s;
}

.links a:hover,
.links a:focus{
  color: white;
  transition: all 0.3s;
}

.links ul{
  margin: 1vh 0;
  font-size: 1.8rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 0;
}

.links ul li{
  margin-top: 2vh;
}

.socialWrapper{
  margin: 4vh 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: #ffffff;
  font-size: 3vh;
}

.socials{
  margin-bottom: 4vh;
  margin-top: 2vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #ffffff;
  font-size: 4vh;
  padding-left: 0;
}

.socials li{
  margin: 0 2.5%;
  height: auto;
  min-width: 100px;
  width: 100%;
  max-width: 150px;
}

.socials img{
  outline: none;
  transform: translateY(2vh);
}

.socials a:hover,
.socials a:focus  {
  border-radius: 6%;
}

footer a > img{
  filter: invert(0.6);
  width: 100%;
  border-radius: 5%;
  transition: all 0.2s;
}

footer a:hover > img,
footer a:focus > img{
  filter: invert(1);
  transition: all 0.2s;
}

#trionName{
  height: auto;
  color: white;
  font-size: 48px;
}

.heroImage{
  background-image: url(images/homepage/black-ops1.jpg);
  min-width: 100%;
  position: fixed;
  z-index: -1;
  /* object-fit: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  height: 100vh;
  background-position-y: bottom;
  background-position-x: center;
  /* translate: 0 -15vh; */
  /* transform: scale(1.2); */
}

.heroImage h1{
  z-index: 0;
  color: white;
  font-size: 5.5rem;
  position: absolute;
  top: 20vh;
  left: 25%;
  transform: translate(-50%);
}

main{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 8vh 0;
  background-color: #212331;
}

.fullScreen{
  background-color: transparent;
  height: 100vh;
}

.slideContent{
  background-color: #323443;
  width: 100%;
  align-content: space-evenly;
  align-items: center;
  display: flex;
  height: 80vh;
  flex-flow: row wrap;
  color: white;
}

.slideItem{
  height: 100%;
  width: 50%;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  overflow: visible;
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  margin: 0 5%;
  height: fit-content;
  display: none;
  object-fit: cover;
}

.slideContent img{
  min-width: 320px;
  flex: 1;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:focus, .next:focus  */
.prev:hover, .next:hover
{
  background-color: rgba(15,15,15,0.8);
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, .dot:focus {
  background-color: #717171;
}

.twoEvenRow img{
  flex: 1;
  min-width: 250px;
  object-fit: cover;
  padding: 3%;
}

.twoEvenRow div{
  width: 50%;
  padding-top: 0;
}

.twoEvenRow{
  display: flex;
  flex-flow: row wrap;
  color: white;
  /* background-color: #323443; */
  width: 90%;
  height: auto;
  padding: 3%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.column{
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 3%;
  height: 100%;
  min-width: 320px;
}

.column p{
  font-size: 1.5rem;
}

.button{
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-size: 2.1rem;
  padding: 1%;
  background-color: #EAECF0;
  margin-bottom: 3vh;
  margin-top: auto;
  width: fit-content;
}

.button:hover, .button:focus{
  background-color: white;
}

.arrow-pulse-down:after {
  content: "↓"; /* Here you can change the style of the arrow */
  color: white;
  position: absolute;
  width: 35px; height: 35px;
  margin: 0 auto;
  left: 0; right: 0;
  font-size: 35px;
  animation: arrow-pulse-down 1000ms linear infinite;
}

@keyframes arrow-pulse-down {
  0% {
    bottom: 50px;
    opacity: 0;
  }
  20% {
    opacity: .1;
  }
  30% {
    opacity: .2;
  }
  45% {
    opacity: .3;
  }
  70% {
    bottom: 5px;
    opacity: .4;
  }
  95% {
    bottom: -20px;
    opacity: .5;
  }
  100% {
    bottom: -20px;
    opacity: .5;
  }
}

.nemesis{
  background-image: url("images/gallery/7_25-Lux-Black-Nemesis_rr34-1024x576.png");
}

h2{
  font-size: 3rem;
  margin-bottom: 1vh;
}

/* About Us Page */

.bannerText {
  font-size: 5.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 30%);
  position: absolute;
  padding: 1%;
  width: fit-content;
  border-radius: 4px;
  top: 25%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.bannerImage{
  width: 100%;
  position: relative;
  z-index: -1;
  object-fit: cover;
  background-size: cover;
  height: 40vh;
  background-position-y: -50vh;
  background-position-x: -5vh;
}

.aboutimages{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#aboutRich{
  flex: 1;
}

.aboutimages img{
  margin: 1%;
  height: 40vh;
  width: 95%;
  object-fit: cover;
}

.aboutrowimages {
  margin: 5vh 0;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.aboutrowimages div{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.aboutext{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.aboutext:last-of-type{
  margin-bottom: 3vh;
}
/* End About Us Page */




/** Customize car **/
.twoEvenRow .column{
  flex: 1;
  min-width: 250px;
  padding: 3%;
  padding-top: 5%;

}

.onePartColumn{
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
  width: 80%;
  color: white;
}

.onePartColumn a{
  margin-top: 10px;
}

h1{
  z-index: 0;
  color: white;
  font-size: 5.5rem;
}

label{
  color: white;
}

.form{
  margin-top: 3vh;
  width: 95%;
  display: flex;
  flex-flow: column;
}

.form form{
  margin-top: 5vh;
  width: 90%;
  align-self: center;
}

.form label{
  font-size: 2.1rem;
}

.form textarea{
  margin-bottom: 3vh;
  padding: 1%;
  width: 100%;
  height: 10vh;
  font-size: 1.8rem;
  resize: none;
}

.form textarea::placeholder{
  color: gray;
  top: 0;
}

.form input{
  margin-top: 2vh;
  width: fit-content;
  font-size: 2.1vh;
  padding: 1%;
}

.blackwidow{
  background-image: url(images/instagram/trionsupercarsorange7.jpg);
}

.imageSection{
  padding-top: 1%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 80vh;
  width: 50%;
  flex: 2;
  min-width: 500px;
  padding: 2%;
  background-color: #323443;
}

.imageSection div:first-child{
  display: flex;
  flex-flow: row;
  height: 60%;
}

#largeImage{
  position: relative;
  width: 80%;
  height: 65%;
  object-fit: cover;
}

.imageSectionBottom{
  margin-top: 4vh;
  width: 100%;
  height: 20%;
  align-self: flex-start;
  justify-content: center;
  display: flex;
  flex-flow: row;
}

.imageSectionBottom img{
  object-fit: cover;
  height: 100%;
  width: 20%;
  margin: 1%;
}

#customization{
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  margin: 5%;
  padding: 20px;
  min-width: 220px;
  /* margin-top: 2vh; */
  width: 35%;
  height: 70vh;
  background-color: grey;
}

.horizontal{
  background-color: #323443;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
}


.sideScrollRow{
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}


.sideScrollRow .column{
  display: flex;
  width: fit-content;
  align-items: flex-start;
}

.sideScrollRow a{
  color: white;
  margin-top: 1rem;
  font-size: 2rem;
}

.flexRow{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.merchItem{
  padding: 1%;
  margin: 1%;
  background-color: #323443;
  display: flex;
  flex-flow: column;
  width: 23%;
  min-width: 300px;
  max-width: 480px;
  align-items: flex-start;
}

.merchItem .button{
  align-self: flex-end;
  margin-bottom: 0;
  background-color: black;
}

.merchItem h3{
  font-size: 1.8rem;
}

.merchItem img{
  object-fit: cover;
  width: 95%;
  height: 20vh;
}

.flexRow a{
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.flexRow a:hover, .flexRow a:focus{
  text-decoration: underline;
}

#cartNumber{
  color: black;
  position: absolute;
  font-size: 1.5rem;
  bottom: -8px;
  right: -5px;
  background-color: transparent;
  border-radius: 25%;
  padding: 2px;
}

.itemText{
  font-size: 3rem;
  color: white;
  text-decoration: none;
}

.itemText:focus, .itemText:hover{
  text-decoration: underline;
}

.twoEvenRow .itemImage{
  width: 90%;
  height: 40vh;
  object-fit: cover;
}

#merchandiseItemImage{
  min-width: 250px;
  width: 50%;
  flex: 1;
  margin-bottom: 2vh;
}

.horizontalFlex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  margin: 1%;
}

.horizontalFlex a{
  color: black;
  text-decoration: none;
  border-radius: 0px;
  padding: 1%;
  background-color: #EAECF0;
  width: fit-content;
}

.searchblock {
  display: flex;
  align-self: center;
  background-color: #2F2F34;
  width: 70%;
  padding: 2%;
  margin: .5vh 0 1vh 0;
}

.colorblock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 1vh;
}  

.Color > p {
  color: black;
}

.Color button{
  height: 5vh;
  min-width: 180px;
  width: 100%;
  cursor: pointer;
}

.Color{
  margin: 0 15px;
}

.name{
  margin-top: 5vh;
  margin-left: .5vh;
  color: black;
}  

.red {
  background-color: red;
}  

.yellow {
  background-color: yellow;
}  

.blue {
  background-color: blue;
}  

.violet {
  background-color: violet;
}  

.teal {
  background-color: #49e4c5;
}  

.black {
  background-color: black;
}  

.silver {
  background-color: silver;
}    

.orange {
  background-color: orange;
}  

.green {
  background-color: green;
}  

.indigo {
  background-color: indigo;
}  

.pink {
  background-color: pink;
}  

.navy-blue {
  background-color: navy;
}  

.white {
  background-color: white;
}  

.bronze {
  background-color: #CE8946;
}  

#search {
  background: transparent;
  width: 100%;
  height: 100%;
  color: grey;
  padding: 1%;
}

#save {
  padding: 10px;
  align-self: center;
  margin-top: 3.5vh;
  height: 5vh;
  width: 18vh;
  border-style: double;
  border-color: black;
  cursor: pointer;
}

.horizontalFlex p{
  font-size: 1.5rem;
}

.cost{
  align-self: center;
  margin-top: auto;
}

.horizontalFlex img{
  height: 60vh;
  width: 40%;
  object-fit: cover;
}

.itemColumn{
  padding: 2vh 0;
  flex: 1;
  display: flex;
  flex-flow: column;
  width: 40%;
  min-width: 250px;
}

#checkOut{
  visibility: hidden;
  margin-top: 5vh;
}

.lightgrey div:last-of-type{
  align-items: flex-end;
}

.lightgrey .column{
  padding: 1%;
}

.lightgrey{
  margin-top: 3vh;
  height: auto;
  padding: 1%;
  background-color: #323443;
}
/** end customize car **/

.Accessibility {
  width: 50px;
  height: auto;
  cursor: pointer;
  border-radius: 100%
}

@media only screen and (max-width: 1020px) {
  .heroRow h1{
    font-size: 5rem;
    left: 30%;
    width: 100%;
    text-align: center;
  }
  h1{
    font-size: 4rem;
    text-align: center;
  }
  .heroRow h1{
    font-size: 5rem;
    left: 30%;
    width: 100%;
    text-align: center;
  }
  .lightgrey div:last-of-type{
    visibility: hidden;
    height: 0;
  }
  .horizontal{
    justify-content: center;
  }
  #customization{
    width: 100%;
    min-width: 250px;
  }
  .imageSection{
    flex: 1;
  }
}

@media only screen and (max-width: 720px) {
  .slideContent img {
    height: 70vh;
    min-width: 100%;
  }
  .heroRow h1{
    font-size: 5rem;
    left: 50%;
  }
  .slideContent{
    height: fit-content;
  }
}

@media only screen and (max-width: 500px) {
  #user{
    visibility:hidden;
    width:0;
  }
  #cartButton{
    left:80px;
  }
  .imageSection{
    min-width: 200px;
    width: 100%;
  }
  h1{
    font-size: 3.2rem;
  }
}