*{
  margin: 0;
}

.sidenav {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6vh;
}

.sidenav > ul > li{
  margin: 2vh 0;
}

.sidenav ul,
footer ul,
nav ul{
  list-style: none;
}

.sidenav a {
  padding: 0.5vh 10%;
  text-decoration: none;
  font-size: 2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  outline: none;
}

.sidenav a:hover,
.sidenav a:focus-within {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2.5rem;
}

.sidenav li:hover,
.sidenav li:focus-within {
  cursor: pointer;
}

.dropdown{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s;
}

li:focus-within a {
  outline: none;
}

.sidenav ul li:hover > ul,
.sidenav ul li:focus-within > ul,
.sidenav ul li ul:hover,
.sidenav ul li ul:focus {
  max-height: 400px;
  opacity: 1;
  display: block;
  transition: all 0.6s
}

.sidenav ul li ul li {
  clear: both;
  width: 100%;
}

nav{
  top:0;
  left:0;
  position: fixed;
  background-color: rgba(0, 0, 0, 80%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 5vh;
  width: 100%;
}

nav a{
  height: 50px;
  padding: .8%;
  color: white;
  text-decoration: none;
  display: inline-block;
}

nav div{
  display: flex;
  height: 50px;
  width: 150px;
  padding: .8%;
  color: white;
  text-decoration: none;
  justify-content: space-between;
  /* display: inline-block; */
  transform: translate(-5%);
}

nav a > img{
  width: 50px;
  border-radius: 100%;
}

nav a:nth-child(1){
  margin-left: 1.5%;
}

nav a:nth-child(2){
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

nav div a{
  margin-left: 20%;
  position: relative;
}

body{
  margin-top: 5.5vh;
  background-color: #212331;
}

#hamburger {
  padding:0;
  margin-left: 2%;
  font-size:30px;
  cursor:pointer;
}

#hamburger img{
  border-radius: 0;
  filter: invert(1);
}

footer{
  background-color: #212331;
  display: flex;
  flex-flow: column nowrap;
  /* padding: 20px; */
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
}

.links {
  margin-top: 4vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  font-size: 3vh;
  padding: 0;
}

.links > li{
  margin-top: 3vh;
  padding: 0;
  width: 15%;
}

hr{
  width: 98%;
}

.links p,
.links a{
  color: white;
  text-decoration: none;
  text-align: center;
}

.links a{
  color: grey;
  transition: all 0.3s;
}

.links a:hover,
.links a:focus{
  color: white;
  transition: all 0.3s;
}

.links ul{
  margin: 1vh 0;
  font-size: 1.8rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 0;
}

.links ul li{
  margin-top: 2vh;
}

.socialWrapper{
  margin: 4vh 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: #ffffff;
  font-size: 3vh;
}

.socials{
  margin-bottom: 4vh;
  margin-top: 2vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #ffffff;
  font-size: 4vh;
  padding-left: 0;
}

.socials li{
  margin: 0 2.5%;
  height: auto;
}

.socials img{
  outline: none;
  transform: translateY(2vh);
}

.socials a:hover,
.socials a:focus  {
  border-radius: 6%;
}

footer a > img{
  filter: invert(0.6);
  width: 100px;
  border-radius: 5%;
  transition: all 0.2s;
}

footer a:hover > img,
footer a:focus > img{
  filter: invert(1);
  transition: all 0.2s;
}

#trionName{
  color: white;
}

.heroImage{
  background-image: url(images/homepage/black-ops1.jpg);
  width: 100%;
  position: fixed;
  z-index: -1;
  object-fit: cover;
  background-size: cover;
  height: 100vh;
  background-position-y: -50vh;
  background-position-x: -5vh;
  transform: scale(1.2);
}

.fullScreen{
  background-color: transparent;
  height: 100vh;
}

/* About Us Page */

.aboutheroText {
  font-size: 96px;
  color: red;
  background-color: white;
  position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.aboutheroImage{
  background-image: url(images/homepage/black-ops1.jpg);
  width: 100%;
  position: fixed;
  z-index: -1;
  object-fit: cover;
  background-size: cover;
  height: 100vh;
  background-position-y: -50vh;
  background-position-x: -5vh;
  transform: scale(1.2);
}